body {
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	background-image:url('images/grocery.jpg');
	font-family: 'Exo 2', sans-serif;
}

.header .mast-head {
	height:5.5em;
	opacity: 0.5;
	background-color:black;
}

.main {
	height:40em;
	border:1px solid black;
}

.main .content {
	width:40em;
	height:40em;
	margin:0 auto;
	background-color:white;
	opacity:0.9;
}

.footer .mast-foot {
	height:3em;
	opacity: 0.5;
	background-color:black;
}

.text-box {
	height:2em;
	width:23em;
	margin-left:4em;
	margin-top:3em;
	border:3px solid black;
	background-color:gray;
	padding-left:1em;
	font-weight:bold;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  width:8em;
  display:inline-block;
  margin-left:.5em;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor:pointer;
}

.list {
	padding:20px;
	text-decoration: underline;
}

.main-heading {
	margin:auto 0;
	text-align:center;
	font-family: 'Exo 2', sans-serif;
	font-size:2em;
	padding-top:1.5em;
}

.list input {
	margin:1em;
}

.done {
	text-decoration: line-through;
}